
@media (min-width: 670px) {
    
.header-logo-container {
    padding: 5% 0;
}

.header-logo {
    height: 60px;
    width: 250px;
}

.header-h2 {
    font-size: 1.8rem;
}

.header-button {
    margin-top: 80px;
}

header {
    height: 415px;
}

.section1 {
    height: auto;
    padding-bottom: 7%;
}

.section1-image-container {
    padding: 7%;
}

.section1-p {
    padding-top: 2%;
    padding-bottom: 6%;
}

.prices-monedas-title, .prices-comisiones-title {
    display: inline-flex;
    margin-left: 0;
}

.prices-titles {
    text-align-last: justify;
    margin: 1% 24%;
    font-size: 1.5rem;
}

.prices {
    margin: 5% 0;
}

.monedas {
    margin-bottom: 5px;
    font-size: 1.2rem;
    justify-content: space-evenly;
}

.prices-monedas {
    display: inline-block;
}

.prices-comisiones {
    display: inline-block;
}

.prices-grid {
    display: flex;
}

.prices-grid-p1, .prices-grid-p1-top-left, .prices-grid-p1-bottom-left {
    height: 45px;
    width: 130px;
}

.prices-grid-p2, .prices-grid-p2-top-right, .prices-grid-p2-bottom-right {
    height: 45px;
    width: 120px;
}

.left-arrow-container, .right-arrow-container {
    display: none;
}

.section2 {
    padding: 8% 5%;
}

.section2 h1 {
    font-size: 1.7rem;
}

#section2-p {
    margin: 5% 0;
}

.section2-div-container {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}   

.section2-div {
    width: 40%;
    height: 110%;
}

.section3 {
    padding: 8% 5%;
    height: auto;
}

.section3 h1 {
    font-size: 1.5rem;
}

#section3-p {
    padding-top: 3%;
    padding-bottom: 6%;
}

.plans {
    margin: 0 3%;
    justify-content: space-around;
}

.plan1 {
    opacity: 1;
}

.plan3 {
    opacity: 1;
}

.plan1-3-container {
    display: block;
    justify-content: center;
}

}